<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>None</string>
	<string>Entertainment</string>
	<string>News</string>
	<string>Email</string>
	<string>Finance</string>
	<string>Shopping</string>
	<string>Social</string>
	<string>Travel</string>
	<string>Utilities</string>
	<string>HDS</string>
	<string>Apple</string>
	<string>Exilant</string>
	<string>Jobs</string>
	<string>Others</string>
	<string>Work</string>
</array>
</plist>
